<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="iyogakoo" connectionString="server=rds1mnnxp9yrav2121252public.sqlserver.rds.aliyuncs.com,3433;Database=iyogakoodb;uid=iyogakooadmin;pwd=e2r0Q1t5e0w4r2Y2i;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>