<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderSection("styles", false)
    @using IYogaKoo.ViewModel.Commons.Enums;
    <meta property="qc:admins" content="37466671526117713776375" />
    <meta property="wb:webmaster" content="ab4cf999c5c9dc27" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="iyogakoo 爱瑜伽酷，是汇聚世界的瑜伽爱好者，瑜伽行者的地方。 让我们用爱来接受自己，接受宇宙带给我们的能量。瑜伽是没有国界的。" />
    <meta name="keywords" content="iyogakoo,爱瑜伽酷，瑜伽，瑜伽习练者，瑜伽导师，瑜伽行者，瑜伽，Guru, yoga teacher" />
    <title>Iyogakoo 爱瑜伽酷， 世界瑜伽人之家。</title>
    <link rel="shortcut icon" href="/Content/Front/images/2.ico.png" type="image/vnd.microsoft.icon">
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Content/ueditor/ueditor.config.js"></script>
    <script src="~/Content/ueditor/ueditor.all.js"></script>
    <script src="~/Content/My97DatePicker4.7/WdatePicker.js"></script>
    
    <script src="~/Content/jquery/ExistisUpdate.js"></script>

    <link type="text/css" href="/Content/Front/css/indexnew.css?v=1" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Front/js/indexnew.js"></script>
    <script type="text/javascript" src="/Content/Front/js/jquery.SuperSlide.js"></script>
    <script src="~/Content/baiduAdd.js"></script>
    
</head> 
<body>
    <div class="lb_index">
        @Html.Partial("_OtherTopInfo")
        
        <div class="lb_login_idnex">
            @RenderBody() 
        </div> 
    </div>
    @RenderSection("scripts", false)
</body>
</html>
