@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta property="qc:admins" content="37466671526117713776375" />
    <meta property="wb:webmaster" content="ab4cf999c5c9dc27" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="iyogakoo 爱瑜伽酷，是汇聚世界的瑜伽爱好者，瑜伽行者的地方。 让我们用爱来接受自己，接受宇宙带给我们的能量。瑜伽是没有国界的。" />
    <meta name="keywords" content="iyogakoo,爱瑜伽酷，瑜伽，瑜伽习练者，瑜伽导师，瑜伽行者，瑜伽，Guru, yoga teacher" />
    <title>Iyogakoo 爱瑜伽酷， 世界瑜伽人之家。</title>   
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>  
    <link type="text/css" href="/Content/Front/css/indexnew.css?v=1" rel="stylesheet" />  
    <script src="~/Content/jquery/ReturnUrl.js"></script>
</head>
<body>
    <div class="lb_index">
        @Html.Partial("_TopInfo")
        
        <div style="width:100%;  border-top:3px solid #66c3a6; background:#fff">
            <div class="lb_error_index">
                <div class="lb_error_index_left">
                    <h3>Sorry</h3>
                    <h2>您找的资源不存在，请扫描右侧<b>爱瑜伽·酷</b><br />公众平台二维码，加入我们，直接与我们沟通。</h2>
                    <span style="padding-left:88px; float:right;padding-right:8px; padding-top:40px"><a href="/">返回首页</a></span>
                </div>
                <div class="lb_error_index_right">
                    <img src="~/Content/Front/images/error_fdj.png" />
                </div>
            </div>
        </div>
    </div>

</body>
</html>
