@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Master.cshtml";
}

<h2>Index1</h2>

<div class="wrapper-right-content">
    <iframe id="content_right" style="width:100%" frameborder="0" scrolling="no" name="content_right1"></iframe>
</div>