@using IYogaKoo.ViewModel.Commons.Enums;
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<IYogaKoo.ViewModel.ViewClassGroup>

<div class="lb_index">

    <div class="lb_School_index">
        <div class="lb_School_index_top">
            <div class="lb_School_index_top_index">
                 <b>您所在位置：</b><span>
               @{
                   
                   if (ViewBag.ClassStatus == 2) { 
                        @:活动预告
                   } 
                   else if (ViewBag.ClassStatus == 3)
                   {
                        @:活动报道
                   }
} 
                </span> 
                <ul>
                    <!-- <li><a href="">达人</a></li> -->
                    @*<li><a href="" class="on">活动</a></li>*@
                </ul>
            </div>
        </div>
        <div class="lb_hd_index">
            <div class="leftLoop1">

                <div class="bd1">
                    <ul class="picList1">
                        @{
                         IEnumerable<IYogaKoo.ViewModel.ViewtBanner> listBanner = ViewBag.listBanner;
                        }
                        @if (listBanner.Count() != 0)
                        {
                            foreach (var it in listBanner)
                            {
                                <li>
                                    <div class="pic">
                                        <a href="@it.sUrl">
                                            <img src="@it.spic" />
                                        </a>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <div class="pic">
                                    <a>
                                        <img src="/Content/Front/images/shangxian.jpg" />
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="pic">
                                    <a>
                                        <img src="/Content/Front/images/huodong.jpg" />
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="pic">
                                    <a>
                                        <img src="/Content/Front/images/daoshi.jpg" />
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="pic">
                                    <a>
                                        <img src="/Content/Front/images/huiguan.jpg" />
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="pic">
                                    <a>
                                        <img src="/Content/Front/images/lb_1.jpg" />
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="hd">
                    <a class="next"></a><a class="next1"></a>
                    <ul><li></li><li></li><li></li><li></li><li></li></ul>
                    <a class="prev"></a><a class="prev1"></a>
                </div>
            </div>
            <script type="text/javascript">jQuery(".leftLoop1").slide({ mainCell: ".bd1 ul", effect: "leftLoop", prevCell: ".prev,.prev1", nextCell: ".next,.next1", vis: 1, scroll: 1, autoPlay: true });</script>
        </div>

        @using (Html.BeginForm("ActivityReport", "class", FormMethod.Get, new { id = "searchForm" }))
        {
            <div class="lb_lb_hd_index_paihang">
                <a tit="OrderNums" href="javascript:;" class="on">按热门排行</a>
                <a tit="590" href="javascript:;">按地点排行</a>
                <a tit="115" href="javascript:;">按主题排行</a>
                <a tit="7" href="javascript:;">按时间排行</a>
            </div>
            <div class="lb_lb_hd_index_paihang2">
                <ul>
                    <li>
                        <a tit="OrderNums" href="javascript:;" class="on">参加人数最多</a>
                        <a tit="InterNums" href="javascript:;">网友分享最多</a>
                    </li>
                    <li>
                        <a tit="590" href="javascript:;">北京</a>
                        <a tit="100" href="javascript:;">上海</a>
                        <a tit="844" href="javascript:;">广州 </a>
                        <a tit="845" href="javascript:;">深圳</a>
                    </li>
                    <li id="theme">
                        @*活动主题*@ 
                    </li>
                    <li>
                        <a tit="7" href="javascript:;">近一周 </a>
                        <a tit="90" href="javascript:;">近3个月</a>
                        <a tit="180" href="javascript:;">近半年 </a>
                    </li>
                </ul>
                <input type="hidden" id="litit" name="litit" />
            </div>
        }
        <div class="lb_lb_hd_index_show_img" id="Content">

            @Html.Partial("ActivityReportPartial", Model)

        </div>

    </div>

</div>

@section styles
{
    <link type="text/css" href="/Content/Front/css/pagerstyles.css" rel="stylesheet" />

}
@section scripts {

    <script type="text/javascript">
        $(function () {
            $(".lb_lb_hd_index_paihang a").click(function () {
                var typeid = $(this).attr("tit");
                $("#litit").val(typeid);
                $(this).addClass("on").siblings().removeClass("on");
                $("#searchForm").submit();
            });
            
            //活动主题
            $.ajax({
                url: '/class/GetActivityThemeHtml?t=' + Math.random(),
                type: 'post',
                datatype: 'json',
                success: function (data) {
                    $("#theme").html(data);
                    $("a").on("click", function () {
                        var typeid = $(this).attr("tit");
                        $("#litit").val(typeid);
                        $(this).addClass("on").siblings().removeClass("on");
                        $(this).addClass("on").parent().siblings().children().removeClass("on");
                        $("#searchForm").submit();
                    });
                }
            });
        });
    </script>

    <script src=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
    @{Html.RegisterMvcPagerScriptResource();}
}