@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lb_School_index">
    <div class="lb_School_index_top">
        <div class="lb_School_index_top_index">
             <b>您所在位置：</b><span>活动报名</span> 
            <ul>
                @*<li><a href="" class="on">达人</a></li>
                <li><a href="">活动</a></li>*@
            </ul>
        </div>
    </div>
    <div class="lb_hd_index">
        <div class="lb_hb_faqi">
            <div class="lb_hd_faqi_left">
                @*<div class="lb_hd_faqi_left_top">
                    <h1>活动报名</h1>
                </div>*@
                <div class="lb_hd_faqi_left_bottom">
                    <input type="hidden" id="class-id" value="@ViewBag.ClassID" />
                    <dl>
                        <dt>参加人数：</dt>
                        <dd>
                            <input type="text" value="" id="number">
                        </dd>
                    </dl>
                    <dl>
                        <dt>姓名：</dt>
                        <dd>
                            <input type="text" value="" id="name">
                        </dd>
                    </dl>
                    <dl>
                        <dt>联系电话：</dt>
                        <dd>
                            <input type="text" value="" id="phone">
                        </dd>
                    </dl>
                    <dl>
                        <dt>备注：</dt>
                        <dd class="textarea">
                            <textarea id="description" placeholder="200字以内"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp; </dt>
                        <dd>
                            <input type="button" value="报名" class="lb_hd_faqi_left_button" style="width:130px; height:40px; margin-top:0px; " onclick="Class.Apply();">
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="lb_hd_faqi_right">
                <div class="lb_hd_faqi_right_top">
                    <b>请确保您的活动符合法律规定：</b>
                    <p>按照相关法律规定，营业性演出活动需取得国家行政部门审批，请确保你的活动已经获得相关资质及许可。未获上述批准的活动将被依法删除，且由此造成的后果须由活动举办方自行承担。</p>
                    <b>注意事项：</b>
                    <a href="">什么是合适的同城活动？</a>
                    <a href="">何才能让你的活动更吸引人？</a>
                    <a href="">什么是合适的同城活动？</a>
                    <a href="">何才能让你的活动更吸引人？</a>
                    <a href="">什么是合适的同城活动？</a>
                    <a href="">何才能让你的活动更吸引人？</a>
                    <a href="">什么是合适的同城活动？</a>
                    <a href="">何才能让你的活动更吸引人？</a>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
<script src="~/Content/Front/js/activity.js"></script>
    }