
@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lb_emila_p">
            <b>您所在位置：<a>找回密码</a></b>
</div>
    <div class="lb_emila">
        <img src="~/Content/Front/images/zc_r2_c2.jpg" />
    </div> 
<div class="lb_zhaohuimm">
@if (ViewBag.Result)
{<!-- 第二步-->
      <div class="lb_pass_one_ul">
            <ul>
                <li class="li1">1.填写信息</li>
                 <li class="li2  li2_2">2.确认信息</li>
                 <li class="li3">3.重置密码</li>
            </ul>
        </div>
     <div class="lb_pass_one">
    <div class="lb_red_cg2">
        <h3>电邮已发出！</h3>
        <p>请查看收件箱，我们已向您发出重设密码说明。 如果您未在两小时内收到此邮件，请与我们的 技术支持团队联系。</p>
        </div>
         </div>
}
else
{    <!-- 第一步-->
    using (Html.BeginForm())
    {
    <div class="lb_pass_one">
        <div class="lb_pass_one_ul">
            <ul>
                <li class="li1 li1_1">1.填写信息</li>
                 <li class="li2">2.确认信息</li>
                 <li class="li3">3.重置密码</li>
            </ul>
        </div>
     <div class="lb_red_cg2">
    @*<h3>丢失了密码？</h3>*@
    <p>请告诉我们您的电话或邮箱，我们会将重设密码说明发送给您。</p>
         <ul>
             <li class="on">邮箱找回密码</li>
             <li>手机找回密码</li>
         </ul>
    <p style="color: red;">@ViewBag.Error</p>
    </div>    
     <div class="lb_red_cg2 lb_red_cg22">
        <label>电邮地址：</label>
        <input name="email" id="email" class="input_textbox" /><br /><br /> 
         <input class="border_radius" id="subemail"  type="submit" value="" />
      </div>
        <div class="lb_red_cg2 lb_red_cg22" style="display:none">
        <label>手机号码：</label>
        <input name="email" id="Uphone" class="input_textbox" />
        <input class="border_radius" id="button" style="padding:4px 10px; margin-left:10px; background:#65c3a5;
         color:#fff;font-size:18px;border:0px;cursor:pointer" onclick="checkUserName()"
             type="button" value="获取验证码" />
        <br/>
             <label>验证码：</label>
        <input  id="CAPTCHA"   placeholder="验证码" class="input_textbox" />
            <a id="a" title="可能因为网络堵塞的原因，短信不能及时到达！" href="javascript:" onclick="remind();">没收到验证码？</a>
            <br/> <br/> 
        <input class="border_radius" id="subphone"  type="button" onclick="Phonesub()" />
      </div>
    </div>
    }    
    
}
    <div class="lb_email_div">
      
        <div class="lb_email_div_right">
            <img src="~/Content/Front/images/logo00.png" />
        </div>
         <div class="lb_email_div_left">
            <p>此致，iyogakoo团队</p>
            <p></p>
        </div>
    </div>
</div>
@section Scripts { 
    <script src="~/Scripts/PhoneValidate.js"></script>
    <script>       
        //验证email
        $("#email").change(function () {
            var etext = $(this).val();           
            //验证邮箱
            if (etext != "") {
                jQuery.ajax({
                    url: "/Login/email",
                    type: "GET",
                    data: { "Uemail": etext },
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "text",
                    success: function (relust, status) {                       
                        if (relust == "true")
                        {
                            layer.msg("没有该邮箱！");
                            document.getElementById("subemail").disabled = true;
                        }
                        else {
                            document.getElementById("subemail").disabled = false;
                        }
                    }
                });
            }
            else {
                layer.msg("请输入正确邮箱！");
                document.getElementById("subemail").disabled = true;
            }
        });
        $("#subemail").click(function () {
            var etext = $("#email").val(); 
           //验证邮箱
            if (etext == "")
            {
                layer.msg("请输入正确邮箱！");
                document.getElementById("subemail").disabled = true;
                return false;
            }  
        });
        //验证输入是否为手机号
        $("#Uphone").blur(function () {
            var text = $(this).val();
            var regphone = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/; //验证手机
            if (!regphone.test(text)) {
                layer.msg("请输入正确手机号！");
            }
            else {
                jQuery.ajax({
                    url: "/Login/Phone",
                    type: "GET",
                    data: { "Uphone": text },
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "text",
                    success: function (relust, status) {
                        if (relust == "true") {
                            layer.msg("没有该手机号！");
                        }
                    }
                });
            }
        });
        //手机验证码
        $("#CAPTCHA").blur(function () {
            if ($(this).val() != "") {
                jQuery.ajax({
                    url: "/Login/RegCAPTCHA",
                    type: "GET",
                    data: { "CAPTCHA": $("#CAPTCHA").val() },
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "text",
                    success: function (relust) {
                        if (relust != "true") {
                            layer.msg("验证码错误");
                            document.getElementById("subphone").disabled = true;
                        }
                        else {
                            document.getElementById("subphone").disabled = false;
                        }
                    }
                });
            }
        });
        //点手机号提交
        function Phonesub() {
            var phone=$("#Uphone").val();
            var pcode=$("#CAPTCHA").val();
            if (phone != "" && pcode != "")
            {               
                $.ajax({
                    url: "/Login/LostPhone",
                    type: "post",
                    dataType: "json",
                    data: { phone: phone, pcode: pcode },
                    success: function (data) {
                        if (data.code == 0) {
                            //刷新                            
                            location.href = '/login/resetpassword?id=' + data.uid;
                        }  
                        else {
                            layer.msg("修改失败！");
                        }

                    },
                    error: function () {
                        layer.msg("服务器错误！" + data.code);
                    },
                    async: true,//同步操作，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行
                });
            }
            else 
            {
                layer.msg("请输入正确手机号或验证码");
            }
        }
        //提醒
        function remind() {
            var text = $("#Uphone").val();                         
            var regphone = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/; //验证手机
            if (!regphone.test(text)) {
                layer.msg("请输入正确手机号，再重新发送！");
            }
            else {
                jQuery.ajax({
                    url: "/Login/Phone",
                    type: "GET",
                    data: { "Uphone": text },
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "text",
                    success: function (relust, status) {
                        if (relust == "true") {
                            layer.msg("没有该手机号！");
                        }
                        else {
                            angerEx();//重新发送
                        }
                    }
                }); 
            }
        }
    </script>
      
    }