
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lb_emila_p">
            <b>您所在位置：<a>重置密码</a></b>
</div>
    <div class="lb_emila">
        <img src="~/Content/Front/images/zc_r2_c2.jpg" />
    </div> 
<div class="lb_zhaohuimm">
 <div class="lb_pass_one">
<div style="width: 500px; margin:15px auto">
     <div class="lb_pass_one_ul">
            <ul>
                <li class="li1 ">1.填写信息</li>
                 <li class="li2">2.确认信息</li>
                 <li class="li3 li3_3">3.重置密码</li>
            </ul>
        </div>
    <!-- 第三 步-->
    @if (ViewBag.IsConfirm)
    {
        <h3 style="color:#333">密码重置成功</h3>
    }
    else
    {      using (Html.BeginForm())
        { 
        <div style="width:455px; margin:0px auto; overflow:hidden">
        <h3>重设密码</h3>
        <p>@ViewBag.Error</p>
       
            
        <div class="input_field" style="width:230px;">
           <div class="input_label">新密码：</div>
            <input type="password" class="input_textbox required" maxlength="16" minlength="6" id="password" name="password"/><br />
            <div class="input_label">确认密码：</div>
            <input type="password" class="input_textbox required" maxlength="16" minlength="6" id="rpassword" name="rpassword" />
            <p>
            <input class="border_radius border_radius1" style="height: 30px; font-size:18px;color:#fff; width:80px; background-color: #65c3a5; border: none;cursor:pointer" type="submit" value="修改" />
        </p>
        </div>
        </div>
        }
    }
</div>
     </div>
 <div class="lb_email_div">
      
        <div class="lb_email_div_right">
            <img src="~/Content/Front/images/logo00.png" />
        </div>
       <div class="lb_email_div_left">
            <p>此致，iyogakoo团队</p>
        </div>
    </div>
    </div>
@section scripts{
 <script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>*@
 
   
<script type="text/javascript">
    $(function () {
         $("form").validate({           
            rules:{
                rpassword: {
                    required: true,
                    minlength: 6,
                    equalTo: '#password'
                },
            },
            messages: {
                password: {
                    required: "请输入6-16位密码。",
                    maxlength: "请输入6-16位密码。",
                    minlength: "请输入6-16位密码。"
                },
                rpassword: {
                    required: "请再次输入密码。",
                    maxlength: "请输入6-16位字母或数字。",
                    minlength: "请输入6-16位字母或数字。",
                    equalTo: "输入的密码和确认密码要一致。",
                }
            },
            errorPlacement: function (error, element) {
                $(element).before("<div class='error_field'></div>");
                error.appendTo(element.prev(".error_field"));
                $(element).parent().children(".error_field").removeClass("intput_right").removeClass("intput_wait").addClass("intput_error");
            },
            success: function (label) {
                label.parent().addClass("intput_right");
                label.text($(label).parent().next().attr("data-right"))
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parent().children(".error_field").removeClass("intput_right").removeClass("intput_wait").addClass("intput_error");
            }
        });
    });
</script>}