@charset "utf-8";
/* CSS Document */
body{ padding:0px; margin:0px; font-family:"微软雅黑"}
.lb_yago_index{ width:700px; overflow:hidden;}
.lb_yago_index dl{ overflow:hidden}
.lb_yago_index dt{ float:left; width:145px; text-align:right; font-size:14px; line-height:30px}
.lb_yago_index dd{ width:auto; text-align:left}
.lb_yago_index dd input{ width:200px; height:30px; border:1px solid #ccc; line-height:30px; padding:0px 5px}
.lb_yago_index dd select{ padding:5px; border:1px solid #ccc;float:left;}
.lb_yago_index dd i{ font-size:14px;}
.lb_yago_index dd span{ font-size:16px; color:#F00;}
.lb_yago_input{ width:110px !important; height:30px; background:#693; font-size:14px;color:#FFF; border-radius:6px; line-height:25px !important; cursor:pointer; font-family:"微软雅黑"}
.lb_yago_index_hidden{ overflow:hidden; margin-left:80px; display:block}
.lb_yago_index_hidden dl{ overflow:hidden;}
.lb_yago_index_hidden dt{ float:left; font-size:14px; text-align:right}
.lb_yago_index_hidden dd{ width:auto; text-align:left;}
.lb_yago_index_hidden dd input{ width:200px; height:30px; border:1px solid #ccc; line-height:30px; padding:0px 5px}
.lb_yago_index_hidden dd select{ float:left; padding:5px; border:1px solid #ccc; margin-right:4px}
.lb_yago_index_queren{ width:110px !important; height:30px; border-radius:6px; background:#693; color:#fff; font-size:16px; line-height:25px !important; font-family:"微软雅黑"; cursor:pointer}

.lb_yago_index_hidden2{ overflow:hidden; margin-left:80px; display:block}
.lb_yago_index_hidden2 dl{ overflow:hidden;}
.lb_yago_index_hidden2 dt{ float:left; font-size:14px; text-align:right}
.lb_yago_index_hidden2 dd{ width:auto; text-align:left;}
.lb_yago_index_hidden2 dd input{ width:200px; height:30px; border:1px solid #ccc; line-height:30px; padding:0px 5px}
.lb_yago_index_hidden2 dd select{ float:left; padding:5px; border:1px solid #ccc; margin-right:10px}








