@charset "utf-8";
/* CSS Document */

.lbb_add_index{ width:900px; height:auto; margin:0px auto}
.lbb_add_index_top{ width:900px; height:50px;}
.lbb_add_index_top p{ font-size:18px; color:#333; line-height:50px; margin-left:100px}
.lbb_add_index_bottom{ width:900px; height:auto;}
.lbb_add_index_bottom dl{ overflow:hidden;}
.lbb_add_index_bottom dl dt{ width:200px; float:left; text-align:right; line-height:30px}
.lbb_add_index_bottom dl dt span{ font-size:16px; color:red; margin:0px 5px}
.lbb_add_index_bottom dl dd{ width:690px; float:right; margin:0px}
.lbb_add_index_bottom dl dd input{ width:250px; height:30px; border:1px solid #ccc; padding:0px 5px}
.lbb_add_index_bottom_left{ width:150px; height:150px; float:left}
.lbb_add_index_bottom_left input{ width:120px !important; cursor:pointer; background:#090; color:#FFF; font-size:16px; height:20px; border:1px solid #CCC; margin-top:15px; border-radius:25px}
.lbb_add_index_bottom_right{ width:auto; height:150px; float:left}
.lbb_add_index_bottom_right b{ font-weight:100; font-size:16px; color:#333}



